:global {
  .fence {
    cursor: pointer;
    background-color: transparent;

    &.fencePresent {
      background-color: var(--fence-color);
    }

    &.fenceLegal {
      z-index: 1; // Ensures that legal fences are always above illegal fences

      &:hover {
        background-color: var(--fence-hover-color);
      }
    }

    &Horizontal {
      border-radius: calc(25% * (1 / 11)) / 25%;
    }

    &Vertical {
      border-radius: 25% / calc(25% * (1 / 11));
    }
  }
}

// Would prefer to not have to do this but this works.
.fence {
  composes: fence from global;
}

.fencePresent {
  composes: fencePresent from global;
}

.fenceLegal {
  composes: fenceLegal from global;
}

.fenceHorizontal {
  composes: fenceHorizontal from global;
}

.fenceVertical {
  composes: fenceVertical from global;
}

@for $i from 0 through 8 {
  .horizontal-row-#{$i} {
    grid-row: (2 * $i) + 2;
  }
}

@for $j from 0 through 8 {
  .horizontal-col-#{$j} {
    grid-column: #{(2 * $j) + 1} / #{(2 * $j) + 4};
  }
}

@for $i from 0 through 8 {
  .vertical-row-#{$i} {
    grid-row: #{(2 * $i) + 1} / #{(2 * $i) + 4};
  }
}

@for $j from 0 through 8 {
  .vertical-col-#{$j} {
    grid-column: (2 * $j) + 2;
  }
}
