:root {
  --player1-color: rgb(240, 186, 89);
  --player2-color: rgb(102, 178, 178);
}

body {
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  transition: background-color 0.3s, color 0.3s;
  color: var(--font-color);
  background-color: var(--app-bg-color);
  --fence-color: rgb(210, 180, 140);
  --fence-hover-color: rgb(210, 180, 140, 0.5);

  &.light-mode {
    --app-bg-color: rgb(249, 246, 240);
    --board-bg: rgb(245, 240, 232);
    --square-bg: rgb(225, 211, 181);
    --square-bg-hover: rgb(205, 190, 157);
    --fence-color: rgb(128, 92, 75);
    --fence-hover-color: rgba(128, 92, 75, 0.5);
    --font-color: rgb(68, 68, 68);
    --primary-button-font-color: rgb(255, 255, 255);
    --primary-button-bg-color: rgb(68, 68, 68);
    --box-shadow-main: 0 0 8px rgba(0, 0, 0, 0.2);
    --shadow-color-1: rgba(0, 0, 0, 0.1);
    --shadow-color-2: rgba(0, 0, 0, 0.2);
    --shadow-color-4: rgba(0, 0, 0, 0.4);
    --shadow-color-5: rgba(0, 0, 0, 0.5);
  }

  &.dark-mode {
    --app-bg-color: rgb(30, 30, 30);
    --board-bg: rgb(34, 34, 34);
    --square-bg: rgb(58, 58, 58);
    --square-bg-hover: rgba(58, 58, 58, 0.5);
    --hover-color: rgba(255, 255, 255, 0.2);
    --fence-color: rgb(210, 180, 140);
    --fence-hover-color: rgb(210, 180, 140, 0.5);
    --font-color: rgb(255, 255, 255);
    --primary-button-font-color: rgb(0, 0, 0);
    --primary-button-bg-color: rgb(255, 255, 255);
    --box-shadow-main: 0 0 8px rgba(0, 0, 0, 0.5);
    --shadow-color-1: rgba(255, 255, 255, 0.1);
    --shadow-color-2: rgba(255, 255, 255, 0.2);
    --shadow-color-4: rgba(255, 255, 255, 0.4);
    --shadow-color-5: rgba(255, 255, 255, 0.5);
  }
}

.title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
  letter-spacing: 4px;
  text-transform: uppercase;
}

.primaryButton {
  background-color: var(--primary-button-bg-color);
  color: var(--primary-button-font-color);
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: var(--shadow-color-5);
  }
}

input[type="range"] {
  width: 100%;
}

// TODO : Make this work for Safari
.player1Accent {
  input[type="radio"] {
    accent-color: var(--player1-color);
  }

  input[type="range"] {
    accent-color: var(--player1-color);
  }
}

.player2Accent {
  input[type="radio"] {
    accent-color: var(--player2-color);
  }

  input[type="range"] {
    accent-color: var(--player2-color);
  }
}