.gameBoard {

  &__container {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    margin: 20px;
  }

  &__grid {
    flex: 6;
    display: grid;
    grid-template-columns: repeat(8, 1fr 0.2fr) 1fr;
    grid-template-rows: repeat(8, 1fr 0.2fr) 1fr;
    padding: calc(50% * (1 / 11));
    border-radius: calc(50% * (1 / 11));
    width: 50vmin;
    aspect-ratio: 1;
    margin: 0 auto;
    background-color: var(--board-bg);
    box-shadow: var(--box-shadow-main);

    &:has(:global(.fenceVertical:hover)) {
      :global(.fenceVertical.fenceLegal) {
        z-index: 2;
      }
    }

    &:has(:global(.fenceHorizontal:hover)) {
      :global(.fenceHorizontal.fenceLegal) {
        z-index: 2;
      }
    }
  }

  &__playerInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    gap: 1%;
  }

  &__playerInfoGap {
    height: 30%;
  }

  &__playerType {
    margin-top: 5px;
    font-size: 1rem;
    font-weight: normal;
  }

  &__fenceCount {
    margin-top: 10px;
    font-size: 2.75rem;
    font-weight: bold;
  }

  &__fenceCountContainer {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10%;
    align-items: center;
  }

  &__fence {
    width: 100%; // TODO : Test with shorter fences
    height: 0;
    padding-bottom: calc(20% * (100 / 220));
    background-color: var(--fence-color);
    border-radius: calc(25% * (1 / 11)) / 25%;
  }
}